{% extends '::layout/layout-administration.html.twig' %}

{% block body -%}
    <h1>Categories creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="button alt" style="margin-top: 10px;" href="{{ path('admin_categories') }}">
            Retour a la liste des catégories
        </a>
    </li>
</ul>
{% endblock %}
