<li class="current" >
	<a href="{{ path('panier') }}">
		{% if article == 0 %}
		<i class="fas fa-shopping-cart"></i> Aucun article
		{% elseif article == 1 %}
		<i class="fas fa-shopping-cart"></i> 1 article
		{% else %}
		<i class="fas fa-shopping-cart"></i> {{ article }} articles
		{% endif %}
	</a>
</li>