{% extends "::layout/layout.html.twig" %}


{% block body %}
<div class="box col-12 col-12-medium imp-medium">
    	
<h2>Où nous trouver</h2>
{% set date=9 %}
{% if date >= 7 and date <= 8 %}

	<h3 style="margin-top: 15px;">Marchés de saison (été)</h3>

	<section class="day">
	<h4>LUNDI 8h30-13h30</h4>
	<p class="info">Touquet marché couvert emplacement numéro 13</p>
	<p class="info">31 Rue Jean Monnet, 62520 Le Touquet-Paris-Plage</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6033.519208171035!2d1.5880738325340984!3d50.519616659901175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4168588758860edf!2sLe+March%C3%A9+Couvert+du+Touquet!5e0!3m2!1sfr!2sfr!4v1539354394134" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>MARDI 9h-13h30</h4>
	<p class="info">Marché de Fort-Mahon-Plage (face a la poste)</p>
	<p class="info">339-279 Avenue de la Plage, 80790 Fort-Mahon-Plage</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1273.218457846674!2d1.5651517090647213!3d50.339755715899116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38bd1d5e7c7c92b0!2sMARCH%C3%89+DE+FORT+MAHON!5e0!3m2!1sfr!2sfr!4v1539361295374" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>MERCREDI 8h30-13h30</h4>
	<p class="info">Marché de Stella-Plage à côté de la boucherie treunet</p>
	<p class="info">Place du marché de Stella Plage
	928 Rue de Lille, 62780 Cucq</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10155.715651559589!2d1.585596!3d50.4796671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbbaea5a5bff35452!2sPlace+du+march%C3%A9+de+Stella+Plage!5e0!3m2!1sfr!2sfr!4v1539363166418" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>JEUDI 8h30-13h30</h4>
	<p class="info">Touquet marché couvert emplacement numéro 13</p>
	<p class="info">31 Rue Jean Monnet, 62520 Le Touquet-Paris-Plage</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6033.519208171035!2d1.5880738325340984!3d50.519616659901175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4168588758860edf!2sLe+March%C3%A9+Couvert+du+Touquet!5e0!3m2!1sfr!2sfr!4v1539354394134" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<div class="row">
	<section class="day">
	<h4>VENDREDI 9h-13h30</h4>
	<p class="info">Marché de Fort-Mahon-Plage (côté gendarmerie)</p>
	<p class="info">339-279 Avenue de la Plage, 80790 Fort-Mahon-Plage</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1273.218457846674!2d1.5651517090647213!3d50.339755715899116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38bd1d5e7c7c92b0!2sMARCH%C3%89+DE+FORT+MAHON!5e0!3m2!1sfr!2sfr!4v1539361295374" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>VENDREDI 17h-21h</h4>
	<p class="info">Marché festif de Montcavrel (un concert est prévu tout les vendredis soirs ) </p>
	<p class="info">1 Rue de Séhen, 62170 Montcavrel</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2537.069503587755!2d1.8087751159456407!3d50.51427219064477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ddc865e5b92945%3A0xece9fdacfedc08ce!2s1+Rue+de+S%C3%A9hen%2C+62170+Montcavrel!5e0!3m2!1sfr!2sfr!4v1539364841560" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>
	</div>

	<div class="row">
	<section class="day">
	<h4>SAMEDI 8h30-13h30</h4>
	<p class="info">Touquet marché couvert emplacement numéro 13</p>
	<p class="info">31 Rue Jean Monnet, 62520 Le Touquet-Paris-Plage</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6033.519208171035!2d1.5880738325340984!3d50.519616659901175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4168588758860edf!2sLe+March%C3%A9+Couvert+du+Touquet!5e0!3m2!1sfr!2sfr!4v1539354394134" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>SAMEDI 17h-21h</h4>
	<p class="info">Marché de Sainte Cécile</p>
	<p class="info">Espl. de Sainte-Cécile 62176 Camiers</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.7950717103495!2d1.5772768159472288!3d50.5751739862506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ddd14fe1b6ca05%3A0x8655c6a7f47ac5c6!2sEspl.+de+Sainte-C%C3%A9cile%2C+62176+Camiers!5e0!3m2!1sfr!2sfr!4v1539365613245" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>
	</div>

	<section class="day">
	<h4>DIMANCHE 8h30-13h30</h4>
	<p class="info">Marché de Stella-Plage à côté de la boucherie treunet</p>
	<p class="info">Place du marché de Stella Plage
	928 Rue de Lille, 62780 Cucq</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10155.715651559589!2d1.585596!3d50.4796671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbbaea5a5bff35452!2sPlace+du+march%C3%A9+de+Stella+Plage!5e0!3m2!1sfr!2sfr!4v1539363166418" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>


{% else %}
	<h3 style="margin-top: 15px;">Marchés hors saison</h3>
	
	<section class="day">
	<h4>MERCREDI 9h30-12h30</h4>
	<p class="info">Marché de condette</p>
	<p class="info">1 Rue Nouvelle, 62360 Condette</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1264.9492135637236!2d1.625229230908379!3d50.64757654584022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ddd2ddf268588f%3A0x11345794b66fb6a2!2s1+Rue+Nouvelle%2C+62360+Condette!5e0!3m2!1sfr!2sfr!4v1539367611831" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>JEUDI 8h30-13h30</h4>
	<p class="info">Touquet marché couvert emplacement numéro 13</p>
	<p class="info">31 Rue Jean Monnet, 62520 Le Touquet-Paris-Plage</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6033.519208171035!2d1.5880738325340984!3d50.519616659901175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4168588758860edf!2sLe+March%C3%A9+Couvert+du+Touquet!5e0!3m2!1sfr!2sfr!4v1539354394134" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>VENDREDI 15h-19h</h4>
	<p class="info">Marché de condette</p>
	<p class="info">1 Rue Nouvelle, 62360 Condette</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1264.9492135637236!2d1.625229230908379!3d50.64757654584022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ddd2ddf268588f%3A0x11345794b66fb6a2!2s1+Rue+Nouvelle%2C+62360+Condette!5e0!3m2!1sfr!2sfr!4v1539367611831" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>SAMEDI 8h30-13h30</h4>
	<p class="info">Touquet marché couvert emplacement numéro 13</p>
	<p class="info">31 Rue Jean Monnet, 62520 Le Touquet-Paris-Plage</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6033.519208171035!2d1.5880738325340984!3d50.519616659901175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4168588758860edf!2sLe+March%C3%A9+Couvert+du+Touquet!5e0!3m2!1sfr!2sfr!4v1539354394134" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<section class="day">
	<h4>DIMANCHE 9h30-12h30</h4>
	<p class="info">Marché de Cucq</p>
	<p class="info">Avenue des Sports, 62780 Cucq</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d634.6361553069555!2d1.623828271826326!3d50.48682077404705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x139abd3f1ac9615e!2sMairie!5e0!3m2!1sfr!2sfr!4v1539368065413" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

{% endif %}
    
</div>
    
{% endblock %}