<p>Bonjour {{ utilisateur.username }}</p>
<p>Votre commande a bien été validée.</p>
<p>Vous pouvez accéder à votre facture sur le lien suivant :</p>
<a href="{{ path('facture') }}">Facture</a>
<p>La Fromagerie Christophe vous remercie pour votre commande.</p>
<p>Cordialement</p> 