<p>Bonjour {{ utilisateur.username }}</p>
<p>Votre commande a bien été validée.</p>
<p>Vous pouvez accéder à votre facture sur le lien suivant :</p>
<a href="{{ path('facture') }}">Facture</a>
<p>veuillez m'envoyer un mail a l'adresse suivante : duhamelchristophe@gmail.com pour m'indiquer le jour ou vous souhaiter récupérer votre commande pour que je puisse la préparer<p>
<p>La Fromagerie Christophe vous remercie pour votre commande.</p>
<p>Cordialement</p> 