{% extends '::layout/layout-administration.html.twig' %}

{% block body %}
    <h1>Pages creation</h1>

    {{ form(form) }}

        <a class="button alt" style="margin-top:10px; display: inline-block; float: left;" href="{{ path('adminPages') }}">
            Retour à la liste des pages
        </a>

{% endblock %}
